*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Georama', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.app{
width: 100%;
}
.container{
    width: 80%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;

}

.header_logo{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: start;
    z-index: 50;
}

.nav a{
    color: #f6ebe4;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;

}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
nav a:hover{
    background-color: #f6ebe4;
}
.container_main__wrapper{
    display: flex;
    flex-direction: column;


}
.header_counter{
font-weight: bold;
cursor: pointer;
}
.container_main_box{
     width: 80%;
     height: 660px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-end;
     margin: 10px auto;
     background-image: url('../images/main_photo.jpeg');
     background-repeat: no-repeat;
     background-size:  cover;

     
}
.container_main__title{
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 15px;
     
}
.container_main__content{
    font-style: italic;
    line-height: 26px;
    letter-spacing: .6px;
    font-size: 18px;
}
.container_main__title, .container_main__content{
    display: block;
    width: 40%;
    margin-right: 30px;
    text-align: justify;
}

.products_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    width: 80%;
    max-width: 1200px;
    margin: 25px auto;

}

.product_element{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px 20px ;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 16px 24px 2px rgba(33, 37, 41, .1);


}
.product_element__name{
    margin-bottom: 10px;
    font-weight: bold;
    text-align: justify;
}
.product_element__name a{
    text-decoration: none;
    color:gray;
}
.product_element__img{
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-top: 15px;
    margin-bottom: auto;
}


.product_element__price{
    color: #808080;
    margin-top: 15px;
}
.product__btn, #prev{
    padding: 10px;  
    margin-top: 15px;
    border: .5px solid #808080;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    background-color: #f6ebe4;  
    color:#808080;
    font-size: 20px;
    width: 230px;
    height: 50px;
}
.product__btn_active{
    border: 1px solid transparent;
    background-color: linear-gradient(to left, #f0d332,#fda80a);
}
.product__btn:hover{
    background-color:indianred
}

.product_box{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    padding: 30px;
    width: 60%;
    margin: 20px auto;
}
.product_card__img{
    height: auto; 
    width: 600px;
    margin: 20px;
}
.product_card__description{
   
    font-size: 24px;
    margin-bottom: auto;
    text-align: justify;
    font-weight: 400;
    
    justify-content: center;

}
.product_card_caption{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.product_card__price{
    font-size: 30px;
    color: #808080;
}
#prev{
    margin-left: 10px;
}

.container_footer{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.container_footer__logo{
    margin: 10px;
}
.container_footer__info{
    display: flex;
    flex-direction: column;
   font-size: 16px;
    font-style: italic;

}
.container_footer__info a{
    text-decoration: none;
    color: black;
 }
 .container_footer__info a:hover{
    color:#f6ebe4; 
 }
.container_footer__info span{
    padding-bottom: 15px;
}
.container_footer__social{
    display: inline;
 
}
.container_footer__social a{
    padding-right: 10px;
    color: #f6ebe4; 
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #808080;
    font-size: 30px;
}
.container_footer__social a:hover{
    color:#808080;

}
